/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
/* Importing Google Fonts - Poppins with different font weights. */

body {
  padding: 16px !important;
}

body.page-leaderboard {
  padding: 0 !important; /* Ensures padding is removed for .page-leaderboard for full width navbar */
}

.alert {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  border: 2px solid #4caf50;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
/* scroll to top button */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #c535db; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 12px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #af2929; 
  color:#efeff3;/* Add a dark-grey background on hover */
}


.alert.show {
  opacity: 1;
  visibility: visible;
}

#alertText {
  display: block;
  margin-bottom: 10px;
  color: #4caf50;
}

#closeAlert {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
  color: #4caf50;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Global reset and setting default font family to Poppins. */

body {
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(19, 18, 18, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  height:5rem;
  z-index: 1000;
}

/* navigation bar font size transition styling*/
.nav-links li a {
  transition: font-size 0.3s;
}

/* navigation bar hover styling*/
.nav-links li a:hover {
  text-decoration: underline;
  color: #bb18bb;
  font-size: 20px;
  font-weight: bold;
}

/* Navigation bar styling. */
.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px; /* Adjust spacing between navigation links */
}

.nav-links li:last-child {
  margin-right: 0; /* Remove margin from the last navigation link */
}
h1 p {
  color: #ffffff;
}
/* Aligning navigation elements. */
a {
  color: #161618;
  text-decoration: none;
}

/* Styling anchor tags. */

.nav .logo {
  font-size: 1.2rem;
  font-weight: 500;
}

/* Styling for the logo in the navigation bar. */

.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}

/* Styling for navigation links. */

.nav .nav-links a {
  transition: all 0.2s linear;
}

/* Transition effect for navigation links. */

.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}

/* Styling for navigation links when search is open. */

.nav .search-icon {
  font-size: 20px;
  cursor: pointer;
}

/* Styling for search icon in navigation bar. */

.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
  margin-top: 20px;
}

/* Styling for search box in navigation bar. */

.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
  margin-top: 20px;
}

/* Styling for search box when search is open. */

.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  /* color: #000000; */
  color: white;
  transform: translateY(-50%);
}

/* Styling for search icon within search box. */

.search-box input {
  height: 100%;
  width: 100%;
  border: #0056b3;
  outline: none;
  border-radius: 6px;
  background: #cecccc;
  padding: 0 15px 0 45px;
  border-bottom-left-radius: 0px;
  color: rgb(5, 5, 5);
  caret-color: #000000;
}

.dark-mode .search-box input {
  background-color: #161618;
  caret-color: #ffffff;
  color: #ffffff;
}

/* Styling for input field within search box. */

/* searching Results */
.nav.openSearch .searching_results {
  position: absolute;
  width: 100%;
  height: 20rem;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* searching Results */

.dark-mode .searching_results {
  background-color: white;
  color: #000000;
}

.nav.openSearch .searching_results div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 0.1rem solid;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

/* Styling for navigation open and close buttons. */

/* Styling body transition for light and dark mode */

body {
  transition: background-color 0.3s ease;
  padding: 25px;
}

.light-mode {
  background-color: #ffffff;
  color: #161618;
}
.dark-mode {
  background-color: #161618;
  color: white;
}

.dark-mode a {
  color: white;
}
.dark-mode #theme-toggle {
  color: #ffffff;
}
.dark-mode nav {
  background-color: #252525;
}
.toggle-container {
  display: flex;
  align-items: center;
}
#theme-toggle {
  border: none;
  cursor: pointer;
  font-size: 30px;
}

/* Styling for centering images. */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* column-gap: 5px; */
  /* background-color: blue; */
  margin: 100px 0;
}

/* Styling for Discord button container. */
.discord-button-container {
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

/* Styling for popups. */
.popup {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  width: 250px;
  background-color: #292a2f;
  padding: 20px;
  transition: right 0.5s ease-in-out;
  border-radius: 31% 69% 23% 77% / 66% 18% 82% 34%;
}

.popup-content {
  text-align: center;
  color: #fff;
}

#close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: #f5f5f6;
  font-size: 20px;
}

.discord-link {
  display: block;
  margin-top: 20px;
  background-color: #fff;
  color: #000000;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.dark-mode .discord-link {
  color: #000000;
}

.discord-link:hover {
  background-color: #0056b3;
}

/* Styling for social icons. */
.social-icons {
  position: fixed;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  z-index: 999;
}

.social-icon {
  display: block;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  background-size: cover;
  transition: transform 0.2s ease;
}

/* Individual social media icons styling. */
.youtube {
  background-image: url("https://cdn-icons-png.flaticon.com/128/3670/3670147.png");
}

.linkedin {
  background-image: url("https://cdn-icons-png.flaticon.com/128/145/145807.png");
}

.facebook {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6c/Facebook_Logo_2023.png");
}

.twitter {
  background-image: url("https://cdn-icons-png.flaticon.com/128/3670/3670151.png");
}

.instagram {
  background-image: url("https://cdn-icons-png.flaticon.com/128/3955/3955024.png");
}

.social-icon:hover {
  transform: scale(1.4);
}
/* Styling for rotate button. */
#rotate {
  vertical-align: top;
  transform: rotate(7deg) translate(50px, -80px);
  -ms-transform: rotate(90deg) translate(50px, -80px);
  -moz-transform: rotate(90deg) translate(50px, -80px);
  -webkit-transform: rotate(90deg) translate(50px, -80px);
  -o-transform: rotate(90deg) translate(50px, -80px);
}

/* Styling for container holding image and text. */
.container {
  display: flex;
}

.image-div {
  position: relative;
  height: fit-content;
}

.image-div img {
  width: 100%;
  display: block;
  width: auto;
  padding-left: 50px;
  margin-left: 100px;
  padding: 20px 10px 20px 50px;
}

/* Styling for download button. */
.download-button {
  position: absolute;
  bottom: 60px;
  margin-left: -1000px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 990;
}

.download-button:hover {
  background-color: #0056b3;
}

.image1{
    margin: 0 50px;
    padding: 0 100px;
  }
/* Styling for text div. */
.text-div {
  flex: 1;
  padding: 20px;
  padding-left: 30px;
}

.text-div h2 {
  margin-top: 0;
  font-size: 24px;
}

.text-div p {
  font-size: 16px;
  line-height: 1.6;
}
.text{
    padding: 50px;
    padding-top: 180px;
}

.card {
  background-color: #201f22 !important;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}
.card-title {
  color: white !important;
}

.text-div h1,
h2,
h3 {
  color: white;
}

/* About page */
/* About page */
.container-fluid,
.row {
  --mdb-gutter-x: 0;
}
.para {
  font-size: larger;
}
.heading {
  color: #029fcb;
}
/* Styling for footer. */

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px;
}

.footer-row .footer-col h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

.footer-col .links {
  margin-top: 20px;
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}

.footer-col .links li a:hover {
  color: #fff;
}

.footer-col p {
  margin: 20px 0;
  max-width: 300px;
}

.footer-col form {
  display: flex;
  gap: 5px;
}

.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489c6;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}

.footer-col input::placeholder {
  color: #ccc;
  cursor: default;
}

.footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.footer-col form button:hover {
  background: #cecccc;
}

.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}

.footer-col .icons i {
  color: rgba(0, 131, 245, 0.769);
}

.footer-col .icons i:hover {
  color: rgb(204, 22, 198);
}

/* Responsive styling. */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px;
  }

  .nav .search-box {
    right: 150px;
  }
}

@media screen and (max-width: 950px) {
  .nav {
    padding: 15px;
  }

  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  .image-div img {
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .text-div {
    max-width: 500px;
    margin: 0;
    margin-top: 2rem;
    padding: 0 40px;
  }
  .text-div h2:nth-child(1) {
    text-align: center;
  }
  .image {
    display: none;
  }

  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }

  .popup {
    margin-top: 200px;
  }

  .nav {
    padding: 15px 20px;
  }

  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #11101d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav-links li {
    padding-left: 20px;
    text-align: right;
  }
  .nav-links li:last-child {
    margin-right: 20px;
  }
  .nav.openNav .nav-links {
    left: 0;
  }

  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  nav li a {
    color: white !important;
  }
  #menuBarsColor {
    font-size: 25px;
  }
}
@media screen and (max-width: 527px) {
  .image-div img {
    width: 90%;
    margin: auto;
  }
}
@media screen and (min-width: 48rem) {
  h2,
  h3,
  .h6 {
    margin-bottom: 1.5rem;
    color: #029fcb;
  }
}

@media screen and (min-width: 48rem) {
  .banner {
    padding: 0.625rem 1.5rem;
  }
}

.banner.featured {
  display: none;
  background-color: #fff;
}

.banner.featured p {
  font-size: 0.8125rem;
  line-height: 1.5rem;
  margin: 0;
  color: #02b3e4;
}

@media screen and (min-width: 48rem) {
  .banner.featured p {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

@media screen and (min-width: 30rem) {
  .banner--close {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 0.875rem;
    height: 0.875rem;
  }
}

@media screen and (min-width: 48rem) {
  .remodal {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}

@media screen and (min-width: 48rem) {
  .remodal {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.remodal label {
  display: none;
}

.remodal-close {
  top: 0;
  right: 0;
  opacity: 0.5;
  outline: none;
  display: block;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  position: absolute;
  transition: opacity 0.3s ease;
  background: url(https://d125fmws0bore1.cloudfront.net/assets/svgs/icon_close_dark-c7c6a31cb37c841e14b44a8c1a7b5e81447b9442d94fdea8bcf66cfea18d1a13.svg)
    no-repeat center;
}

.remodal-close:hover {
  opacity: 0.7;
}

.remodal-overlay {
  background: rgba(46, 61, 73, 0.95);
}

/* .page-leaderboard .hero {
  background-image: url(50fcfccd51008fe7https://d125fmws0bore1.cloudfront.net/assets/pages/leaderboard/hero-leaderboard-b861e1752ed28ae9f4d158a08c68e909201f46e6086992ad.jpg);
} */

/* .page-leaderboard .leaderboard-progress {
  clear: both;
} */

/* .page-leaderboard .leaderboard-progress .contain {
  padding: 3em 1.5em 2em 1.5em;
} */

@media (min-width: 70em) {
  .page-leaderboard .leaderboard-progress .contain {
    padding: 6em 0 4.5em 0;
  }
}

.page-leaderboard .leaderboard-progress p {
  max-width: 48.5em;
  margin: 0 auto;
}

.page-leaderboard .ranking {
  clear: both;
}

.page-leaderboard .ranking .contain {
  padding: 0 1.5em;
}

.page-leaderboard .ranking .ranking-table {
  max-width: 66em;
  margin: 0 auto;
}

.page-leaderboard .ranking .ranking-table-body {
  box-shadow: 0 0 0.75em 0 rgba(46, 60, 73, 0.12);
  border-radius: 0.375rem;
  border: solid 2px purple;
  max-height: 24.625em;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 33em) {
  .page-leaderboard .ranking .ranking-table-body {
    max-height: 41.125em;
  }
}

.page-leaderboard .ranking .ranking-table-header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.125em;
}

@media (min-width: 33em) {
  .page-leaderboard .ranking .ranking-table-header-row {
    padding-top: 1.875em;
  }
}

.page-leaderboard .ranking .ranking-table-header-data {
  text-align: center;
  align-self: center;
}

.page-leaderboard .ranking .ranking-table-header-data:first-child {
  width: 20%;
}

@media (min-width: 48em) {
  .page-leaderboard .ranking .ranking-table-header-data:first-child {
    width: 15%;
  }
}

.page-leaderboard .ranking .ranking-table-header-data:nth-child(2) {
  padding-left: 9%;
  text-align: left;
  width: 50%;
}

@media (min-width: 33em) {
  .page-leaderboard .ranking .ranking-table-header-data:nth-child(2) {
    padding-left: 6.3%;
  }
}

@media (min-width: 48em) {
  .page-leaderboard .ranking .ranking-table-header-data:nth-child(2) {
    padding-left: 9%;
    width: 55%;
  }
}

@media (min-width: 70em) {
  .page-leaderboard .ranking .ranking-table-header-data:nth-child(2) {
    padding-left: 4%;
  }
}

.page-leaderboard .ranking .ranking-table-header-data:nth-child(3) {
  width: 30%;
}

@media (min-width: 33em) {
  .page-leaderboard .ranking .ranking-table-header-data:nth-child(3) {
    width: 25%;
  }
}

.page-leaderboard .ranking .ranking-table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.875em;
  padding-bottom: 0.875em;
  background-color: #fff;
  transition: background-color 0.9s, width 0.6s, font-size 0.6s;
}
.page-leaderboard .ranking .ranking-table-row:hover {
  background-color: pink;
  box-shadow: 0px 0px 10px purple;
  width: 101%;
  font-size: large;
  cursor: pointer;
}
@media (min-width: 33em) {
  .page-leaderboard .ranking .ranking-table-row {
    padding-top: 1.125em;
    padding-bottom: 1.125em;
  }
}

.page-leaderboard .ranking .ranking-table-row:nth-child(even) {
  background-color: #fafbfc;
}
.page-leaderboard .ranking .ranking-table-row:nth-child(even):hover {
  cursor: pointer;
  background-color: pink;
}
.page-leaderboard .ranking .ranking-table-row-leader-1,
.page-leaderboard .ranking .ranking-table-row-leader-2,
.page-leaderboard .ranking .ranking-table-row-leader-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.875em;
  padding-bottom: 0.875em;
  background-color: #fff;
  box-shadow: 0 0 0.75em 0 rgba(46, 60, 73, 0.12);
  border-radius: 0.375rem;
  margin-bottom: 1.25em;
  transition: background-color 1s, font-weight 1s, font-size 1s;
}

.page-leaderboard .ranking .ranking-table-row-leader-1:hover {
  background-color: gold;
  height: 6vw;
  font-size: large;
  font-weight: 800;
  cursor: pointer;
}
.page-leaderboard .ranking .ranking-table-row-leader-2:hover {
  background-color: silver;
  height: 6vw;
  font-size: large;
  font-weight: 800;
  cursor: pointer;
}
.page-leaderboard .ranking .ranking-table-row-leader-3:hover {
  background-color: goldenrod;
  height: 6vw;
  font-size: large;
  font-weight: 800;
  cursor: pointer;
}

@media (min-width: 33em) {
  .page-leaderboard .ranking .ranking-table-row-leader-1,
  .page-leaderboard .ranking .ranking-table-row-leader-2,
  .page-leaderboard .ranking .ranking-table-row-leader-3 {
    padding-top: 1.125em;
    padding-bottom: 1.125em;
  }
}

.page-leaderboard
  .ranking
  .ranking-table-row-leader-1
  .ranking-table-data-leader-1,
.page-leaderboard
  .ranking
  .ranking-table-row-leader-2
  .ranking-table-data-leader-2,
.page-leaderboard
  .ranking
  .ranking-table-row-leader-3
  .ranking-table-data-leader-3 {
  display: flex;
  justify-content: center;
  width: 20%;
}

@media (min-width: 48em) {
  .page-leaderboard
    .ranking
    .ranking-table-row-leader-1
    .ranking-table-data-leader-1,
  .page-leaderboard
    .ranking
    .ranking-table-row-leader-2
    .ranking-table-data-leader-2,
  .page-leaderboard
    .ranking
    .ranking-table-row-leader-3
    .ranking-table-data-leader-3 {
    width: 15%;
  }
}

.page-leaderboard
  .ranking
  .ranking-table-row-leader-1
  .ranking-table-data-leader-1
  .medal-gold,
.page-leaderboard
  .ranking
  .ranking-table-row-leader-2
  .ranking-table-data-leader-2
  .medal-silver,
.page-leaderboard
  .ranking
  .ranking-table-row-leader-3
  .ranking-table-data-leader-3
  .medal-bronze {
  margin-top: -1.313em;
  height: 2.875em;
  width: 2.875em;
}

@media (min-width: 33em) {
  .page-leaderboard
    .ranking
    .ranking-table-row-leader-1
    .ranking-table-data-leader-1
    .medal-gold,
  .page-leaderboard
    .ranking
    .ranking-table-row-leader-2
    .ranking-table-data-leader-2
    .medal-silver,
  .page-leaderboard
    .ranking
    .ranking-table-row-leader-3
    .ranking-table-data-leader-3
    .medal-bronze {
    margin-top: -1.563em;
    height: 3.875em;
    width: 3.875em;
  }
}

.page-leaderboard .ranking .ranking-table-row-leader-1 {
  border: solid 0.125em #ecc81a;
}

.page-leaderboard
  .ranking
  .ranking-table-row-leader-1
  .ranking-table-data-leader-1
  .medal-gold {
  background: url(https://d125fmws0bore1.cloudfront.net/assets/pages/leaderboard/medal-gold-c49052bfa07f36621f16dbe77f7fc36cbafd72ff088ea970256ff998be05687b.svg)
    no-repeat;
  background-size: contain;
}

.page-leaderboard .ranking .ranking-table-row-leader-2 {
  border: solid 0.125em #dbe2e8;
}

.page-leaderboard
  .ranking
  .ranking-table-row-leader-2
  .ranking-table-data-leader-2
  .medal-silver {
  background: url(https://d125fmws0bore1.cloudfront.net/assets/pages/leaderboard/medal-silver-d099c5dd916c167c3ba4716c8968a819f317daaef1901c8e8bae6c6932852faa.svg)
    no-repeat;
  background-size: contain;
}

.page-leaderboard .ranking .ranking-table-row-leader-3 {
  border: solid 0.125em #dfdfd1;
}

.page-leaderboard
  .ranking
  .ranking-table-row-leader-3
  .ranking-table-data-leader-3
  .medal-bronze {
  background: url(https://d125fmws0bore1.cloudfront.net/assets/pages/leaderboard/medal-bronze-d0f15d413800257442c8d4b2d5239cfe28c9fd9594f863ab1fad5258f8d1d5eb.svg)
    no-repeat;
  background-size: contain;
}

.page-leaderboard .ranking .ranking-table-data {
  align-self: center;
  color: #525c65;
  font-size: 1em;
}

.page-leaderboard .ranking .ranking-table-data:first-child {
  text-align: center;
  width: 20%;
  color: #525c65;
  font-weight: 600;
}

@media (min-width: 33em) {
  .page-leaderboard .ranking .ranking-table-data:first-child {
    font-size: 1.25em;
  }
}

@media (min-width: 48em) {
  .page-leaderboard .ranking .ranking-table-data:first-child {
    width: 15%;
  }
}

.page-leaderboard .ranking .ranking-table-data:nth-child(2) {
  color: #2e3d49;
  width: 55%;
  font-size: 0.875em;
  padding-left: 9%;
}

@media (min-width: 33em) {
  .page-leaderboard .ranking .ranking-table-data:nth-child(2) {
    font-size: 1em;
  }
}

@media (min-width: 48em) {
  .page-leaderboard .ranking .ranking-table-data:nth-child(2) {
    font-size: 1em;
    width: 55%;
  }
}

@media (min-width: 70em) {
  .page-leaderboard .ranking .ranking-table-data:nth-child(2) {
    font-size: 1em;
    padding-left: 4%;
  }
}

.page-leaderboard .ranking .ranking-table-data:nth-child(3) {
  font-size: 0.875em;
  text-align: center;
  width: 25%;
  padding-right: 4%;
}

@media (min-width: 33em) {
  .page-leaderboard .ranking .ranking-table-data:nth-child(3) {
    padding-right: 0%;
    font-size: 1em;
  }
}

.page-leaderboard .ranking .ranking-table-data:nth-child(3) .complete {
  margin: -1.25em auto;
  transform: translateY(18%);
  background: url(https://github.com/GameSphere-MultiPlayer/GameSphere/assets/98798977/fe253e0d-b619-477e-a8de-b10b785f0bd1)
    no-repeat;
  background-size: contain;
  width: 3em;
  height: 3em;
}

@media (min-width: 33em) {
  .page-leaderboard .ranking .ranking-table-data:nth-child(3) .complete {
    width: 3.5em;
    height: 3.5em;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #c4d2e5;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#743db8, #c535db);
  border-radius: 10px;
}

/* Toggle share button with media links*/
.icons {
  position: absolute;
  /*top: calc(100% - 50vh);
  right: calc(100% - 30vw); */
  bottom: 420px;
  right: 175px;
  transform: translateX(50%);
  z-index: 2;
}

.socials-menu {
  opacity: 0;
  transition: opacity 0.5s;
}

.active > .socials-menu {
  opacity: 1;
}

.share-button {
  position: absolute;
  border: none;
  cursor: pointer;
  z-index: 2;
  transition: all 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background-color: var(--background);
  border-radius: 50%;
  outline: 2px solid white;
  outline-offset: 3px;
}
.active .share-button,
.share-button:hover {
  background-color: var(#00c896);
  transform: scale(1.03);
}

.social {
  position: absolute;
  list-style: none;
  transition: all 0.5s ease-in-out;
  display: grid;
  cursor: pointer;
  place-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  outline: 2px solid white;
  outline-offset: 3px;
}

.social a {
  display: grid;
  cursor: pointer;
  place-items: center;
}

.social li a {
  transition: font-size 0.3s;
}

.active .social:nth-child(1) {
  transform: translateX(-5rem);
}

.active .social:nth-child(1) {
  background: #7289da !important;
}

.active .social:nth-child(2) {
  transform: translateY(-5rem);
}

.active .social:nth-child(2) {
  background-color: #3a76f0 !important;
}

.active .social:nth-child(3) {
  transform: translateX(5rem);
}

.active .social:nth-child(3) {
  background: grey !important;
}

.active .social:nth-child(4) {
  transform: translateY(5rem);
}

.active .social:nth-child(4) {
  background-color: #ff4500 !important;
}

.light-mode .social {
  outline: 2px solid black;
}

.light-mode .share-button {
  outline: 2px solid black;
  color: black;
}

.light-mode .share-button svg path {
  color: black;
  stroke: #000000;
}
.light-mode .share-button svg .box {
  stroke: white;
}

@media (max-width: 768px) {
  .icons {
    position: absolute;
  }
}

@media (max-width: 480px) {
  .icons {
    position: absolute;
    top: calc(100% - 50vh);
    right: calc(100% - 75vw);
  }
}

.logo_image {
  margin-top: 50px;
}

.logo_head1 {
  color: #029fcb;
  letter-spacing: 6px;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.logo_head {
  font-size: 60px;
  text-align: center;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* .line{
  padding: 80px 0;
  background-color: rgb(49, 50, 54);
  height: 800px;
  display: flex;
  flex-direction: row;
  padding-left: 180px;
} */
.line_main {
  /* width: 1050px; */
  margin: 0 50px;
  margin-bottom: 50px;
  /* margin-right: 170px; */
  /* background-color: red; */
}
.line1 {
  /* color: white; */
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 20px;
  /* margin: 0 50px */
}
.line2 {
  width: 200px;
  /* margin: 0 50px */
}
.line3 {
  /* color: white; */
  padding-top: 20px;
  font-size: 20px;
  /* margin: 0 50px */
}
.line4 {
  display: flex;
  flex-direction: row;
}
.line41 {
  width: 150px;
  /* background-color: yellow; */
  height: 500px;
  margin-top: 60px;
  text-align: right;
  /* color: rgb(185,185,185); */
}

.timeline {
  position: relative;
  margin-top: 60px;
  /* color: white; */
  padding-top: 1px;
  padding-bottom: 40px;
  /* background-color: red; */
}
.timeline::after {
  content: "";
  position: absolute;
  width: 1.5px;
  background-color: yellow;
  top: 0;
  bottom: 0;
  left: 5.5%;
}
.container1 {
  margin-top: 40px;
  padding: 0 40px;
  position: relative;
  width: 550px;
  font-size: 17px;
}

.container1::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  right: 39.6%;
  background-color: yellow;
  border: 2px solid yellow;
  top: 0;
  border-radius: 50%;
}

.right {
  left: 7.5%;
}

.right::after {
  left: -16px;
}
.image_part {
  margin: 50px 0 0 150px;
}
.image_part img {
  height: 270px;
  padding-top: 30px;
  width: 470px;
}
/* .line_pic{
  width: 330px;
} */
.line_img {
  width: 100%;
  height: auto;
}
@media (max-width: 1300px) {
  .image_part {
    display: none;
  }
  .container1 {
    width: auto;
  }
  .right {
    left: 6.5%;
  }
  .about{
    margin: 90px 5%;
}
}
@media (max-width: 800px) {
  .right {
    left: 7%;
  }
}
@media (max-width: 600px) {
  .right {
    left: 8.7%;
  }
}
@media screen and (max-width: 768px) {
  .nav .search-box {
    top: 1.1%;
  }
  .search-box input {
    width: 100%;
  }
  nav.openSearch .search-box {
    margin-right: 10px;
    padding: 0;
    z-index: 1;
    width: 57%;
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
.about {
    margin:170px 10%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
}

.about1 {
    margin-left: 110px;
}

.about1 img {
    width: 600px;
    height: 500px;
  }

.about11 {
    font-size: 18px;
    padding-bottom: 15px;
    /* font-weight: 1500; */
}

.about12, .line2 {
    height: 3px;
    border-radius: 50px;
    width: 100px;
    background-color: rgb(255, 0, 72);
    border: none;
}

.about13 {
    padding-top: 20px;
    font-size: 20px;
}
.about23{
    width: 500px;
}
.about14 {
    margin-top: 25px;
    width: 250px;
    height: 40px;
    background-color: rgb(219, 55, 101);
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 17px;
    cursor: pointer;
}
@media (max-width: 1200px){
    .about1 img{
        width: 400px;
        height: 400px;
    }
}
@media (max-width: 1000px){
    .about1 img{
        display: none;
    }
    .about23{
        width: 100%;
    }
.image1{
  margin: 0 50px;
}
/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
}