<!--New Branch-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chrome Gaming | Home</title>
  <!-- link for favicon -->
  <link rel="icon" href="/images/logo.PNG" type="image/x-icon" />
  <!-- Title of the webpage displayed on the browser tab. -->
  <link rel="stylesheet" href="/css/styles.css" />
  <!-- Link to an external CSS file for styling. -->
  <!--  <script src="/public/js/script.jsz" defer></script>-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Micro+5&family=Nova+Cut&family=Press+Start+2P&family=Protest+Guerrilla&family=Sixtyfour&family=Stalinist+One&family=Turret+Road:wght@200;300;400;500;700;800&family=VT323&family=Wallpoet&display=swap"
    rel="stylesheet" />
  <!-- Unicons CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  <!-- Link to the Bootstrap icons CSS file. -->
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <!-- Link to Google Fonts for custom font styles. -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
  <!-- Link to the fontawesome icons file. -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet" />

  <!-- Link to the Unicons CSS file. -->

  <!-- Link to an external JavaScript file with the 'defer' attribute, meaning it will be executed after the document has been parsed. -->
  <!-- Preloader Style-->
  <!--=============== REMIXICONS ===============-->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css"> -->
  <link rel="stylesheet" href="/css/styles.css" />
  <script src="/js/script.js" defer></script>
  <!--=============== CSS ===============-->
  <style>
    /*=============== GOOGLE FONTS ===============*/
    @import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

    /*=============== VARIABLES CSS ===============*/
    :root {
      --header-height: 3.5rem;

      /*========== Colors ==========*/
      /*Color mode HSL(hue, saturation, lightness)*/
      --first-color: hsl(230, 75%, 56%);
      --title-color: hsl(230, 75%, 15%);
      --text-color: hsl(230, 12%, 40%);
      --body-color: hsl(230, 100%, 98%);
      --container-color: hsl(230, 100%, 97%);
      --border-color: hsl(230, 25%, 80%);

      /*========== Font and typography ==========*/
      /*.5rem = 8px | 1rem = 16px ...*/
      --body-font: "Syne", sans-serif;
      --h2-font-size: 1.25rem;
      --normal-font-size: .938rem;

      /*========== Font weight ==========*/
      --font-regular: 400;
      --font-medium: 500;
      --font-semi-bold: 600;

      /*========== z index ==========*/
      --z-fixed: 100;
      --z-modal: 1000;
    }

    h1 {
      font-size: 2rem;
    }
    .logo-section {
        margin-top: 120px;
      }
    /*========== Responsive typography ==========*/
    @media (max-width: 480px) {
      .logo-section {
        margin-top: 20px;
      }
    }

    @media screen and (min-width: 1023px) {
      :root {
        --h2-font-size: 1.5rem;
        --normal-font-size: 1rem;
      }
    }

    /*=============== BASE ===============*/
    * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }

    html {
      scroll-behavior: smooth;
    }

    input,
    button {
      font-family: var(--body-font);
      font-size: var(--normal-font-size);
    }

    body {
      background-color: var(--body-color);
      color: var(--text-color);
    }

    input,
    button {
      border: none;
      outline: none;
    }

    ul {
      list-style: none;
    }

    a {
      text-decoration: none;
    }

    img {
      display: flex;
      max-width: 100%;
      height: auto;
    }

    /*=============== REUSABLE CSS CLASSES ===============*/
    
    .container {
      max-width: 1120px;
      margin-inline: 1.5rem;
    }

    .main {
      position: relative;
      height: 100vh;
    }

    .main__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      z-index: -1;
    }

    .search {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: var(--z-modal);
      background-color: hsla(230, 75%, 15%, .1);
      backdrop-filter: blur(24px);
      -webkit-backdrop-filter: blur(24px);
      /* For safari */
      padding: 8rem 1.5rem 0;
      opacity: 0;
      pointer-events: none;
      transition: opacity .4s;
    }

    .light-mode .search__close {
      color: var(--title-color);
    }

    .search__close {
      position: absolute;
      top: 2rem;
      right: 2rem;
      font-size: 1.5rem;
      color: var(--body-color);
      cursor: pointer;
    }

    /* cursor */
    .circle {
      z-index: 10000;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      pointer-events: none;
      animation: colors 5s infinite;
      position: fixed;
      transform: translate(-50%, -50%);
    }

    .circle::before {
      content: "";
      position: fixed;
      width: 50px;
      height: 50px;
      opacity: 0.2;
      transform: translate(-30%, -30%);
      border-radius: 50%;
    }

    /*=============== HEADER & NAV ===============*/
    .header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: var(--body-color);
      box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
      z-index: var(--z-fixed);
    }

    .nav {
      height: var(--header-height);
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 999;
    }

    .nav__logo {
      /* color: var(--title-color); */
      font-weight: var(--font-semi-bold);
      transition: color .4s;
    }

    .nav__actions {
      display: flex;
      align-items: center;
      /* column-gap: 1rem; */
    }

    .nav__search,
    .nav__toggle,
    .nav__close {
      font-size: 2rem;
      /* color: var(--title-color); */
      cursor: pointer;
      transition: color .4s;
    }

    :is(.nav__logo, .nav__search, .nav__toggle, .nav__link):hover {
      color: var(--first-color);
    }

    /* Navigation for mobile devices */
    @media screen and (max-width: 900px) {
      .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        /* background-color: var(--body-color); */
        box-shadow: 0 8px 16px hsla(230, 75%, 32%, .15);
        width: 100%;
        padding-block: 4.5rem 4rem;
        transition: top .4s;
      }
    }

    .nav__list {
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;
      text-align: center;
    }

    .nav__link {
      color: var(--title-color);
      font-weight: var(--font-semi-bold);
      /* transition: color .4s; */
    }

    .nav__close {
      position: absolute;
      top: 1.15rem;
      right: 1.5rem;
    }

    /* Show menu */
    .show-menu {
      top: 0;
    }

    /*=============== SEARCH ===============*/
    .search__form {
      display: flex;
      align-items: center;
      column-gap: .5rem;
      background-color: var(--container-color);
      box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
      padding-inline: 1rem;
      border-radius: .5rem;
      transform: translateY(-1rem);
      transition: transform .4s;
    }

    .search__icon {
      font-size: 1.25rem;
      color: var(--title-color);
    }

    .search__input {
      width: 100%;
      padding-block: 1rem;
      background-color: var(--container-color);
      color: var(--text-color);
    }

    .search__input::placeholder {
      color: var(--text-color);
    }

    /* Show search */
    .show-search {
      opacity: 1;
      pointer-events: initial;
    }

    .show-search .search__form {
      transform: translateY(0);
    }

    /*=============== BREAKPOINTS ===============*/
    /* For medium devices */
    @media screen and (min-width: 576px) {
      .search {
        padding-top: 10rem;
      }

      .search__form {
        max-width: 450px;
        margin-inline: auto;
      }

      .search__close {
        width: max-content;
        top: 5rem;
        left: 0;
        right: 0;
        margin-inline: auto;
        font-size: 2rem;
      }

    }

    /* For large devices */
    @media screen and (min-width: 900px) {
      .nav {
        height: calc(var(--header-height) + 2rem);
        /* column-gap: 3rem; */
      }

      .nav__close,
      .nav__toggle {
        display: none;
      }

      .nav__menu {
        margin-left: auto;
      }

      .nav__list {
        flex-direction: row;
        column-gap: 3rem;
      }
    }

    @media screen and (min-width: 900px) {
      .container {
        margin-inline: auto;
      }
    }

    .preloader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background: black;
      transition: opacity 5s, visibility 5s;
      z-index: 1000;
    }

    .preloader--hidden {
      opacity: 0;
      visibility: hidden;
    }

    .preloader img {
      height: 250px;
      width: 250px;
      border-radius: 1000px;

    }

    /* Default styles */
    /* Default styles */
    body {
      background-color: #333333;
      /* Dark mode background color */
      color: #ffffff;
      /* Dark mode text color */
    }

    /* Light mode styles */
    .light-mode {
      background-color: #ffffff;
      /* Light mode background color */
      color: #333333;
      /* Light mode text color */
    }

    #progress-bar {
      --progress: 0;
      height: 12px;
      width: var(--progress);
      position: fixed;
      z-index: 1001;
      background: linear-gradient(45deg, rgb(41, 187, 203), rgb(181, 8, 155));
      /* margin-top: -100px; */
    }

    /* Styles for specific elements */
    .nav__logo {
      color: var(--body-color);
      /* Light mode logo color */
    }

    .light-mode .nav__logo {
      color: #000000;
      /* Dark mode logo color */
    }

    .light-mode .nav-links {
      background-color: white;
    }

    .light-mode .navCloseBtn {
      color: black;
    }

    .nav__link {
      color: var(--body-color);
      /* Light mode logo color */
    }

    .light-mode .nav__link {
      color: #000000;
      /* Dark mode logo color */
    }

    .nav__search,
    .nav__toggle,
    .nav__close {
      color: var(--body-color);
      /* Light mode logo color */
    }

    .light-mode .nav__search {
      color: #000000;
      /* Dark mode logo color */
    }

    .light-mode .nav__toggle {
      color: #000000;
      /* Dark mode logo color */
    }

    .light-mode .nav__close {
      color: var(--title-color);
    }

    /* Add more styles for other elements as needed */
    .header {
      background-color: #444444;
      /* Dark mode navbar background color */
    }

    .light-mode .header {
      background-color: var(--body-color);
      /* Light mode navbar background color */
    }

    .show-menu {
      background-color: #444444;
      /* Dark mode show-menu background color */
    }

    /* Styles for show-menu in light mode */
    .light-mode .show-menu {
      background-color: #f0f0f0;
      /* Light mode show-menu background color */
    }

    .nav__logo {
      font-size: 1.7rem;
    }

    .nav__link {
      font-size: 1.3rem;
    }

    nav {
      background-color: #252525 !important;
    }

    nav a {
      color: white !important;
    }

    /* a:hover{
  color:#bb18bb !important;
} */
    .light-mode nav {
      background-color: white !important;
    }

    .light-mode nav a {
      color: black !important;
    }

    /* .dark-mo .footer .footer-row {
      background-color: black;
      color: white;
    } */

    .light-mode .footer-text,
    .light-mode .footer-col .links li a {
      color: black;
      padding: 1rem 0;
    }

    .page-leaderboard {
      /* background-color: black; */
    }
  </style>
  <!--  <script src="/js/script.js" defer></script>-->
</head>

<body class="page-leaderboard">
  <div class="preloader">
    <img class="center" id="loader-img" src="/images/loader.gif" alt="" />
  </div>
  <script>
    window.addEventListener("load", () => {
      const loader = document.querySelector(".preloader");
      // to check if the page was reloaded
      if (performance.navigation.type === performance.navigation.TYPE_RELOAD) {
        const loaderImg = document.getElementById("loader-img");
        //to force reload
        loaderImg.src = `${loaderImg.src}?t=${new Date().getTime()}`;
        setTimeout(() => {
          loader.classList.add("preloader--hidden");
        }, 8000);
        loader.addEventListener("transitionend", () => {
          document.body.removeChild(loader);
        });
      } else {
        //to remove the preloader if it is not a reload
        document.body.removeChild(loader);
      }
    });
  </script>
  <!-- Body of the webpage. Background color set inline. -->


  <div id="progress-bar"></div>
  <div class="circle-container">
    <div class="circle" style="background-color: #55a5ea; left: 504px; top: 59px; scale: 1;"></div>
    <div class="circle" style="background-color: #55a5ea; left: 504px; top: 59px; scale: 0.95;"></div>
    <div class="circle" style="background-color: #55a5ea; left: 504px; top: 59px; scale: 0.9;"></div>
    <div class="circle" style="background-color: #55a5ea; left: 504px; top: 59px; scale: 0.9;"></div>
    <div class="circle" style="background-color: #3fbcc0c6; left: 504px; top: 59px; scale: 0.85;"></div>
    <div class="circle" style="background-color: #3fbcc0c6; left: 504px; top: 59px; scale: 0.85;"></div>
    <div class="circle" style="background-color: #3fbcc0c6; left: 504px; top: 59px; scale: 0.85;"></div>
    <div class="circle" style="background-color: #3fbcc0c6; left: 504px; top: 59px; scale: 0.85;"></div>
    <div class="circle" style="background-color: #fff; left: 504px; top: 59px; scale: 0.8;"></div>
    <div class="circle" style="background-color: #fff; left: 504px; top: 59px; scale: 0.8;"></div>
    <div class="circle" style="background-color: #fff; left: 504px; top: 59px; scale: 0.8;"></div>
    <div class="circle" style="background-color: #fff; left: 504px; top: 59px; scale: 0.8;"></div>
  </div>

  <nav class="nav">
    <!-- Navigation section. -->
    <i id="menuBarsColor" class="uil uil-bars navOpenBtn"></i>
    <!-- Icon for opening navigation menu. -->
    <a href="/" class="logo">Chrome Gaming</a>
    <!-- Logo of the website. -->
    <br />

    <ul class="nav-links ">
      <!-- Unordered list for navigation links. -->
      <i class="uil uil-times navCloseBtn"></i>
      <!-- Icon for closing navigation menu. -->
      <li><a href="/" class="links-hover-currentpage">Home</a></li>
      <li><a href="/play" class="links-hover">Play Games</a></li>
      <li><a href="/products" class="links-hover">Products</a></li>
      <li><a href="/about" class="links-hover">About Us</a></li>
      <li><a href="https://chromegaming.github.io/Chrome-Gaming-Certification/" class="links-hover">Certificate</a></li>
      <li><a class="links-hover" onclick="openRateUs()">Rate Us</a></li>
      <!--        <script src="/js/script.js" defer></script>-->
      <li>
        <div class="small-screen-social">
          <a href="https://www.youtube.com/@ChromeGamingOn" target="_blank" class="social-icon youtube"></a>
          <a href="https://www.linkedin.com/company/chromegaming" target="_blank" class="social-icon linkedin"></a>
          <a href="https://www.facebook.com/profile.php?id=61558763492008" target="_blank"
            class="social-icon facebook"></a>
          <a href="https://twitter.com" target="_blank" class="social-icon twitter"></a>
          <a href="https://www.instagram.com/chromegamingon/" target="_blank" class="social-icon instagram"></a>
        </div>
      </li>
    </ul>

    <i class="uil uil-search search-icon search-close-cross-btn" id="searchIcon"></i>
    <!-- Icon for search functionality. -->
    <div class="search-box">
      <i class="uil uil-search search-icon"></i>
      <!-- Icon for search functionality within the search box. -->
      <input type="search" id="searchResult" placeholder="Search here..." />
      <!-- Input field for search functionality. -->
      <div class="searching_results"></div>
    </div>


    <div class="toggle-container">
      <i class="bi bi-toggle-off" id="theme-toggle"></i>
    </div>
  </nav>
  <%- include('partials/rateus') %>
    <!-- <script src="/js/script.js"></script>-->
    <!--==================== SEARCH ====================-->
    <div class="search" id="search">
      <form action="" class="search__form">
        <i class="ri-search-line search__icon"></i>
        <input type="search" placeholder="What are you looking for?" class="search__input">
      </form>

      <i class="ri-close-line search__close" id="search-close"></i>
    </div>



    <br />
    <section class="image logo-section">
      <div class="logo_image">
        <!-- Section for displaying images. -->
        <img class="center" src="/images/logo.gif" alt="" height="250px" />
        <!-- Image element with source set to a GIF file. -->
      </div>
      <div class="logo_head press-start-2p-regular" style="font-size: 5rem;">CHROME</div>
      <div class="logo_head1" style="font-size: 2.5rem;">GAMING</div>
    </section>
    <br />
    <section id="discord-button">
      <!-- Section for Discord button. -->
      <div id="discord-popup" class="popup">
        <!-- Popup container for Discord button. -->
        <div class="popup-content">
          <!-- Content of the popup. -->
          <span id="close-btn">&times;</span>
          <!-- Button for closing the popup. -->
          <h2 style="font-size: 23px;">Welcome to our Discord Server!</h2>
          <!-- Heading for the Discord popup. -->
          <p style="font-size: 18px;">
            Join our community and chat with fellow members.
          </p>
          <!-- Text content for the Discord popup. -->
          <a href="https://discord.gg/J4F7nY97Fp" target="_blank"><button class="button-85">Join Now</button></a>
          <!-- Link for joining the Discord server. -->
        </div>
      </div>
    </section>

    <div class="social-icons">
      <button class="toggler"><img src="/images/social1.webp" alt=""></button>
      <a href="https://www.youtube.com/@ChromeGamingOn" target="_blank" class="social-icon youtube"></a>
      <a href="https://www.linkedin.com/company/chromegaming" target="_blank" class="social-icon linkedin"></a>
      <a href="https://www.facebook.com/profile.php?id=61558763492008" target="_blank" class="social-icon facebook"></a>
      <a href="https://twitter.com" target="_blank" class="social-icon twitter"></a>
      <a href="https://www.instagram.com/chromegamingon/" target="_blank" class="social-icon instagram"></a>
    </div>


    <!--<div class="alan-btn"></div>-->

    <div class="container" style="margin-bottom: 40px;margin-left: 5px;">
      <!-- Container for content. -->
      <div class="image-div">
        <!-- Division for images. -->
        <img src="/images/BANNER.png" alt="Game Upload" />
        <!-- Image element for uploading a game banner. -->
        <button id="rotate" style="font-size: 18px; margin-bottom: 60px" class="download-button">
          Upload <i class="bi bi-box-arrow-in-down"></i>
        </button>
        <!-- Button for uploading a game with icon. -->
      </div>
      <div class="text-div">
        <!-- Division for text content. -->
        <h2>
          <i class="bi bi-bar-chart-line" style="font-size: 2.5rem;"></i> PROCEDURE
          <i class="bi bi-box-arrow-in-right"></i>
        </h2>
        <!-- Heading for procedure. -->
        <h1 style="color:rgb(204, 22, 198);  text-shadow: .1em .1em 0 hsl(200 50% 30%);" class="border-hover">
          How i will be able upload game?
        </h1>
        <!-- Subheading for game upload procedure. -->
        <br />
        <br />
        <p style="font-size: 16px;"> Step 1- Join out Discord Server </p>
        <p style="font-size: 16px;">Step 2- Pitch your game </p>
        <p style="font-size: 16px;">Step 3-We will upload it to our page.</p>
        <br />
        <!-- Placeholder text. -->
        <div style="display: flex">
          <i style="font-size: 30px; color: rgb(255, 255, 255)" class="bi bi-tv-fill"></i>
          &nbsp;&nbsp;
          <!-- Icon for TV display. -->

          <h3 style="margin-top: 10px;font-size: 18px;">Create a Issue on GitHub</h3>
          <!-- Text for TV display. -->
        </div>
        <p style="margin-left: 60px;font-size: 16px;">
          Go to the contribute section and click the link , it will redirect you
          to to the github page where you can raise the issue.
        </p>
        <!-- Placeholder text. -->
        <div style="display: flex">
          <i style="font-size: 30px; color: rgb(255, 255, 255)" class="bi bi-tv-fill"></i>
          &nbsp;&nbsp;
          <!-- Icon for TV display. -->
          <h3 style="margin-top: 10px;font-size: 18px;">Code and Upload it..</h3>
          <!-- Text for TV display. -->
        </div>
        <p style="margin-left: 60px;font-size: 16px;"> Step 1- Clone the project </p>
        <p style="margin-left: 60px;font-size: 16px;">Step 2- Raise Issue</p>
        <p style="margin-left: 60px;font-size: 16px;">Step 3- Send PR</p>
        <!-- Placeholder text. -->
      </div>
    </div>
  </section>
  <button class="top-btn" id="goToTopBtn" onclick="goToTop()"><i class="fa-solid fa-chevron-up"
    style="color: #ffffff;"></i></button>
  

 
 


  
  


  <!-- Horizontal line separator. -->
  <section class="footer">
    <!-- Footer section. -->
    <div class="footer-row">
      <!-- Row within the footer. -->
      <div class="footer-col">
        <!-- Column within the footer. -->
        <h4>Info</h4>
        <!-- Heading for info section. -->
        <ul class="links">
          <!-- Unordered list for links. -->
          <li><a href="/index">Home</a></li>
          <li><a href="/play">Play Games</a></li>
          <li><a href="/product">Products</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="https://chromegaming.github.io/Chrome-Gaming-Certification/">Certificate</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <!-- Second column within the footer. -->
        <h4>Explore</h4>
        <!-- Heading for explore section. -->
        <ul class="links">
          <!-- Unordered list for links. -->
          <li><a href="#">Free Designs</a></li>
          <li><a href="#">Latest Designs</a></li>
          <li><a href="#">Themes</a></li>
          <li><a href="#">Popular Designs</a></li>
          <li><a href="#">Art Skills</a></li>
          <li><a href="#">New Uploads</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <!-- Third column within the footer. -->
        <h4>Legal</h4>
        <!-- Heading for legal section. -->
        <ul class="links">
          <!-- Unordered list for links. -->
          <li><a href="#">Customer Agreement</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">GDPR</a></li>
          <li><a href="#">Security</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">Media Kit</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <!-- Fourth column within the footer. -->
        <h4>Newsletter</h4>
        <!-- Heading for newsletter section. -->
        <p>
          Subscribe to our newsletter for a weekly dose of news, updates,
          helpful tips, and exclusive offers.
        </p>
        <!-- Text for newsletter subscription. -->
        <form id="subscriptionForm" action="#">
          <input id="emailInput" type="email" placeholder="Your email" required pattern="[^\s@]+@[^\s@]+\.[^\s@]+" />
          <button id="submitButton" type="submit">SUBSCRIBE</button>
        </form>
        <div class="footer-column">
					<h4>Follow us</h4>
					<div class="social-links">
						<a href="mailto:durgeshkumar4993@gmail.com" target="_blank" class="gmail-icon"><i class="fab fa-google"></i></a>
						<a href="https://www.linkedin.com/company/chromegaming" target="_blank" <i class="fab fa-linkedin"></i></a>
						<a href="https://discord.com/" target="_blank" class="discord-icon fab fa-discord"></a>
						<a href="https://www.medium.com/" target="_blank" class="fab fa-medium"></a>
						<a href="https://www.instagram.com/chromegamingon/" target="_blank" class="fab fa-instagram"></a>
					</div>
				</div>
        <div id="customAlert" class="alert">
          <span id="alertText"></span>
          <button id="closeAlert">&times;</button>

    <div style="text-align: center; display: flex; flex-direction: column; align-items: center;">
      <img alt="Leaderboard" class="mb-2"
        src="https://d125fmws0bore1.cloudfront.net/assets/svgs/icon_trophy_leaderboard-3442a4b2312e6cdd02aa9870e636dc082890277a6267c4ed986a750fef7cbb35.svg" />
      <h2 style="color: white;">Top 50 Contributors Leaderboard</h2>
    </div>
    <section class="ranking" style="display: inline">
      <div class="contain" style="margin-bottom: 10px">
        <div class="ranking-table">
          <div class="ranking-table-header-row" style="border:none">
            <div class="ranking-table-header-data h6">Rank</div>
            <div class="ranking-table-header-data h6">GitHub</div>
            <div class="ranking-table-header-data h6">Profile Link</div>
          </div>
          <div class="top3" id="top3"></div>
          <div class="ranking-table-body" id="rankingTableBody"></div>
        </div>
      </div>
    </section>


<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
} */

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  /* background-image: radial-gradient(
      at 40% 20%,
      rgb(255, 184, 122) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, rgb(31, 221, 255) 0px, transparent 50%),
    radial-gradient(at 0% 50%, rgb(255, 219, 222) 0px, transparent 50%),
    radial-gradient(at 80% 50%, rgb(255, 133, 173) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgb(255, 181, 138) 0px, transparent 50%),
    radial-gradient(at 80% 100%, rgb(107, 102, 255) 0px, transparent 50%),
    radial-gradient(at 0% 0%, rgb(255, 133, 167) 0px, transparent 50%);
  background-repeat: no-repeat; */
}

main {
  width: 800px;
}

main h1 {
  text-align: center;
  font-size: clamp(2rem, 4vw, 2.6rem);
  color: #fff;
  margin-bottom: 70px;
}

.slide-row {
  display: flex;
  width: 3200px;
  transition: 0.5s;
}

.slide-col {
  position: relative;
  width: 800px;
  height: 400px;
}

.hero {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.hero img {
  height: 100%;
  border-radius: 10px;
  width: 320px;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}

.content {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 520px;
  height: 270px;
  color: #4d4352;
  background: rgba(255, 255, 255, 0.623);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  padding: 45px;
  z-index: 2;
  user-select: none;
}

.content p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
}

.content h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 35px;
  color: #4d4352;
}

.indicator {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.light-mode .indicator .btn{
  background: rgb(48, 47, 47);
}
.indicator .btn {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 4px;
  border-radius: 15px;
  background: #fff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btn.active {
  width: 30px;
}

.slider {
  width: 100%;
  overflow: hidden;
}

@media (max-width: 850px) {
  .main {
    /* width: 500px; */
  }

  .slide-row {
    width: 2000px;
  }

  .slide-col {
    width: 500px;
    height: 250px;
  }

  .hero img {
    width: 200px;
  }

  .content {
    width: 320px;
    height: 200px;
    padding: 20px;
  }

  .content p {
    font-size: 0.9rem;
  }

  .content h2 {
    font-size: 1.2rem;
    margin-top: 20px;
  }
}

@media (max-width: 840px) {
  main {
    width: 300px;
  }

  .slide-row {
    width: 1200px;
  }

  .slide-col {
    width: 500px;
    height: 300px;
  }

  .hero {
    top: 60%;
    height: 100px;
    z-index: 5;
  }

  .hero img {
    width: 100px;
  }

  .content {
    width: 300px;
  }
}

</style>
<section class="main">
    <main>
      <h1>Testimonials</h1>

      <div class="slider">
          <div class="slide-row" id="slide-row">
            <div class="slide-col">
                  <div class="content">
                      <p>Zen is a Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid ipsum ut iste corrupti cum blanditiis quod praesentium vel incidunt dolorum..</p>
                      <h2>Zen</h2>
                      <p>Author</p>
                  </div>
                  <div class="hero">
                      <img src="https://user-images.githubusercontent.com/13468728/234031693-6bbaba7d-632c-4d7d-965f-75a76a549ce2.jpg" alt="avatar">
                  </div>
              </div>
  
              <div class="slide-col">
                  <div class="content">
                      <p>Jonathan Koletic is an American internet entrepreneur and media proprietor, and investor. He is the founder of the multi-national technology company Treymont.</p>
                      <h2>Jonathan</h2>
                      <p>Treymont Inc.</p>
                  </div>
                  <div class="hero">
                      <img src="https://user-images.githubusercontent.com/13468728/234031617-2dfb19ea-01d0-4370-b63b-bb6bdfb4f78e.jpg" alt="avatar">
                  </div>
              </div>
  
              <div class="slide-col">
                  <div class="content">
                      <p>Charlie Green is an European entrepreneur and media consultant, and investor. He is the founder of the Hallmark Inc.</p>
                      <h2>Charlie</h2>
                      <p>Hallmark Inc.</p>
                  </div>
                  <div class="hero">
                      <img src="https://user-images.githubusercontent.com/13468728/234031646-10533999-39e5-4c7b-ab54-d0299b13ce74.jpg" alt="avatar">
                  </div>
              </div>
            
             <div class="slide-col">
                  <div class="content">
                      <p>Sarah Dam is an American internet entrepreneur and media proprietor, and investor. She is the founder of the multi-national technology company Zara.</p>
                      <h2>Sarah</h2>
                      <p>Zara Inc.</p>
                  </div>
                  <div class="hero">
                      <img src="https://github.com/ecemgo/ecemgo/assets/13468728/55116c98-5f9a-4b0a-9fdb-4911b52d5ef3" alt="avatar">
                  </div>
              </div>

          </div>
      </div>
      
      <div class="indicator">
          <span class="btn active"></span>
          <span class="btn"></span>
          <span class="btn"></span>
          <span class="btn"></span>
      </div>
  </main>
</section>






    <!-- Horizontal line separator. -->
    <section class="footer">
      <!-- Footer section. -->
      <div class="footer-row">
        <!-- Row within the footer. -->
        <div class="footer-col">
          <!-- Column within the footer. -->
          <h4>Info</h4>
          <!-- Heading for info section. -->
          <ul class="links">
            <!-- Unordered list for links. -->
            <li><a href="/index">Home</a></li>
            <li><a href="/play">Play Games</a></li>
            <li><a href="/product">Products</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="https://chromegaming.github.io/Chrome-Gaming-Certification/">Certificate</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <!-- Second column within the footer. -->
          <h4>Explore</h4>
          <!-- Heading for explore section. -->
          <ul class="links">
            <!-- Unordered list for links. -->
            <li><a href="#">Free Designs</a></li>
            <li><a href="#">Latest Designs</a></li>
            <li><a href="#">Themes</a></li>
            <li><a href="#">Popular Designs</a></li>
            <li><a href="#">Art Skills</a></li>
            <li><a href="#">New Uploads</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <!-- Third column within the footer. -->
          <h4>Legal</h4>
          <!-- Heading for legal section. -->
          <ul class="links">
            <!-- Unordered list for links. -->
            <li><a href="#">Customer Agreement</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
            <li><a href="#">GDPR</a></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">Media Kit</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <!-- Fourth column within the footer. -->
          <h4>Newsletter</h4>
          <!-- Heading for newsletter section. -->
          <p>
            Subscribe to our newsletter for a weekly dose of news, updates,
            helpful tips, and exclusive offers.
          </p>
          <!-- Text for newsletter subscription. -->
          <form id="subscriptionForm" action="#">
            <input id="emailInput" type="email" placeholder="Your email" required pattern="[^\s@]+@[^\s@]+\.[^\s@]+" />
            <button id="submitButton" type="submit">SUBSCRIBE</button>
          </form>
          <div class="footer-column">
            <h4>Follow us</h4>
            <div class="social-links">
              <a href="mailto:durgeshkumar4993@gmail.com" target="_blank" class="gmail-icon"><i
                  class="fab fa-google"></i></a>
              <a href="https://www.linkedin.com/company/chromegaming" target="_blank" <i
                class="fab fa-linkedin"></i></a>
              <a href="https://discord.com/" target="_blank" class="discord-icon fab fa-discord"></a>
              <a href="https://www.medium.com/" target="_blank" class="fab fa-medium"></a>
              <a href="https://www.instagram.com/chromegamingon/" target="_blank" class="fab fa-instagram"></a>
            </div>
          </div>
          <div id="customAlert" class="alert">
            <span id="alertText"></span>
            <button id="closeAlert">&times;</button>
          </div>

          <div class="icons">
            <button class="share-button">
              <svg id="share-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                stroke-width="2" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" class="box"></path>
                <path d="M6 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                <path d="M18 6m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                <path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                <path d="M8.7 10.7l6.6 -3.4"></path>
                <path d="M8.7 13.3l6.6 3.4"></path>
              </svg>
            </button>
            <ul class="socials-menu">
              <li class="social" id="discord" title="discord">
                <a href="https://discord.com/">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-discord" viewBox="0 0 16 16">
                    <path
                      d="M13.545 2.907a13.2 13.2 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.2 12.2 0 0 0-3.658 0 8 8 0 0 0-.412-.833.05.05 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.04.04 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032q.003.022.021.037a13.3 13.3 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019q.463-.63.818-1.329a.05.05 0 0 0-.01-.059l-.018-.011a9 9 0 0 1-1.248-.595.05.05 0 0 1-.02-.066l.015-.019q.127-.095.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.05.05 0 0 1 .053.007q.121.1.248.195a.05.05 0 0 1-.004.085 8 8 0 0 1-1.249.594.05.05 0 0 0-.03.03.05.05 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.2 13.2 0 0 0 4.001-2.02.05.05 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.03.03 0 0 0-.02-.019m-8.198 7.307c-.789 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612m5.316 0c-.788 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612" />
                  </svg>
                </a>
              </li>
              <li class="social" title="signal" id="signal">
                <a href="https://signal.org/">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-signal" viewBox="0 0 16 16">
                    <path
                      d="m6.08.234.179.727a7.3 7.3 0 0 0-2.01.832l-.383-.643A7.9 7.9 0 0 1 6.079.234zm3.84 0L9.742.96a7.3 7.3 0 0 1 2.01.832l.388-.643A8 8 0 0 0 9.92.234m-8.77 3.63a8 8 0 0 0-.916 2.215l.727.18a7.3 7.3 0 0 1 .832-2.01l-.643-.386zM.75 8a7 7 0 0 1 .081-1.086L.091 6.8a8 8 0 0 0 0 2.398l.74-.112A7 7 0 0 1 .75 8m11.384 6.848-.384-.64a7.2 7.2 0 0 1-2.007.831l.18.728a8 8 0 0 0 2.211-.919M15.251 8q0 .547-.082 1.086l.74.112a8 8 0 0 0 0-2.398l-.74.114q.082.54.082 1.086m.516 1.918-.728-.18a7.3 7.3 0 0 1-.832 2.012l.643.387a8 8 0 0 0 .917-2.219m-6.68 5.25c-.72.11-1.453.11-2.173 0l-.112.742a8 8 0 0 0 2.396 0l-.112-.741zm4.75-2.868a7.2 7.2 0 0 1-1.537 1.534l.446.605a8 8 0 0 0 1.695-1.689zM12.3 2.163c.587.432 1.105.95 1.537 1.537l.604-.45a8 8 0 0 0-1.69-1.691zM2.163 3.7A7.2 7.2 0 0 1 3.7 2.163l-.45-.604a8 8 0 0 0-1.691 1.69l.604.45zm12.688.163-.644.387c.377.623.658 1.3.832 2.007l.728-.18a8 8 0 0 0-.916-2.214M6.913.831a7.3 7.3 0 0 1 2.172 0l.112-.74a8 8 0 0 0-2.396 0zM2.547 14.64 1 15l.36-1.549-.729-.17-.361 1.548a.75.75 0 0 0 .9.902l1.548-.357zM.786 12.612l.732.168.25-1.073A7.2 7.2 0 0 1 .96 9.74l-.727.18a8 8 0 0 0 .736 1.902l-.184.79zm3.5 1.623-1.073.25.17.731.79-.184c.6.327 1.239.574 1.902.737l.18-.728a7.2 7.2 0 0 1-1.962-.811zM8 1.5a6.5 6.5 0 0 0-6.498 6.502 6.5 6.5 0 0 0 .998 3.455l-.625 2.668L4.54 13.5a6.502 6.502 0 0 0 6.93-11A6.5 6.5 0 0 0 8 1.5" />
                  </svg>
                </a>
              </li>
              <li class="social" title="Github" id="github">
                <a href="https://github.com/GameSphere-MultiPlayer">
                  <i class="fa-brands fa-github" style="color: white"></i>
                </a>
              </li>
              <li class="social" title="reddit" id="reddit">
                <a href="https://www.reddit.com/?rdt=35900" title="Facebook">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-reddit" viewBox="0 0 16 16">
                    <path
                      d="M6.167 8a.83.83 0 0 0-.83.83c0 .459.372.84.83.831a.831.831 0 0 0 0-1.661m1.843 3.647c.315 0 1.403-.038 1.976-.611a.23.23 0 0 0 0-.306.213.213 0 0 0-.306 0c-.353.363-1.126.487-1.67.487-.545 0-1.308-.124-1.671-.487a.213.213 0 0 0-.306 0 .213.213 0 0 0 0 .306c.564.563 1.652.61 1.977.61zm.992-2.807c0 .458.373.83.831.83s.83-.381.83-.83a.831.831 0 0 0-1.66 0z" />
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.828-1.165c-.315 0-.602.124-.812.325-.801-.573-1.9-.945-3.121-.993l.534-2.501 1.738.372a.83.83 0 1 0 .83-.869.83.83 0 0 0-.744.468l-1.938-.41a.2.2 0 0 0-.153.028.2.2 0 0 0-.086.134l-.592 2.788c-1.24.038-2.358.41-3.17.992-.21-.2-.496-.324-.81-.324a1.163 1.163 0 0 0-.478 2.224q-.03.17-.029.353c0 1.795 2.091 3.256 4.669 3.256s4.668-1.451 4.668-3.256c0-.114-.01-.238-.029-.353.401-.181.688-.592.688-1.069 0-.65-.525-1.165-1.165-1.165" />
                  </svg>
                </a>
              </li>
            </ul>
          </div>



        </div>
      </div>
    </section>
    <footer class="footer-text" style="
            text-align: center;
            color: rgba(0, 131, 245, 0.769);
            margin-bottom: 0px;
            font-size: 12px;
          
          ">
      <!-- scroll to top -->
      <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-long-arrow-up"></i></button>

      <!-- Footer section. -->
      &copy; 2024-All rights reserved.<br />
      Made with ❤️ of <b>Chrome Gaming</b>
    </footer>
    <!--Share Button-->
    <script>

      const shareButton = document.querySelector(".share-button");
      const toggleSocials = () => {
        const socialsWrapper = document.querySelector(".icons");
        const shareButtonImage = shareButton.querySelector("img");

        socialsWrapper.classList.toggle("active");

        if (shareButtonImage.src.includes("share")) {
          shareButtonImage.src = "/images/close.svg";
        } else {
          shareButtonImage.src = "assets/share.svg";
        }
      };

      shareButton.addEventListener("click", toggleSocials);

      document.querySelector('.toggler').addEventListener('click', function () {
        document.querySelector('.social-icons').classList.toggle('show-icons');
      });


    </script>


    <!--=============== MAIN JS ===============-->
    <script>
      //Custom Cursor

      const coords = { x: 0, y: 0 };
      const circles = document.querySelectorAll(".circle");

      const colors = [
        "#55a5ea",
        "#55a5ea",
        "#55a5ea",
        "#55a5ea",
        "#55a5ea",
        "#55a5ea",
        "#55a5ea",
        "#55a5ea",
        "#3fbcc0c6",
        "#3fbcc0c6",
        "#3fbcc0c6",
        "#3fbcc0c6",
        "#3fbcc0c6",
        "#3fbcc0c6",
        "fff",
        "fff",
        "fff",
        "fff",
        "fff",
        "fff",
        "fff",
      ];

      circles.forEach(function (circle, index) {
        circle.x = 0;
        circle.y = 0;
        circle.style.backgroundColor = colors[index % colors.length];
      });

      window.addEventListener("mousemove", function (e) {
        coords.x = e.clientX;
        coords.y = e.clientY;
      });

      function animateCircles() {
        let x = coords.x;
        let y = coords.y;

        circles.forEach(function (circle, index) {
          circle.style.left = x - 12 + "px";
          circle.style.top = y - 12 + "px";

          circle.style.scale = (circles.length - index) / circles.length;

          circle.x = x;
          circle.y = y;

          const nextCircle = circles[index + 1] || circles[0];
          x += (nextCircle.x - x) * 0.3;
          y += (nextCircle.y - y) * 0.3;
        });

        requestAnimationFrame(animateCircles);
      }

      animateCircles();
      document.querySelector('.toggler').addEventListener('click', function () {
        document.querySelector('.social-icons').classList.toggle('show-icons');
      });

    </script>
    <script>


      // const data = [
      //   { place: 1, name: "Steven A" },
      //   { place: 2, name: "Raghav M" },
      //   { place: 3, name: "Ryan Z" },
      //   { place: 4, name: "Joseph R" },
      //   { place: 5, name: "Muwaffaq I" },
      //   { place: 6, name: "Joshua L" },
      //   { place: 7, name: "Nick M" },
      //   { place: 8, name: "Ravindra R" },
      //   { place: 9, name: "Ricardo M" },
      //   { place: 10, name: "Shubham R" },
      //   { place: 11, name: "Flavio S" },
      //   { place: 12, name: "Igor S" },
      //   { place: 13, name: "Mycah H" },
      //   { place: 14, name: "hemant d" },
      //   { place: 15, name: "Santhosh S" },
      //   { place: 16, name: "Joseph D" },
      //   { place: 17, name: "Kevin C" },
      //   { place: 18, name: "yasser m" },
      //   { place: 19, name: "Miguel Ángel M" },
      //   { place: 20, name: "Peter K" },
      //   { place: 21, name: "Atikur R" },
      //   { place: 22, name: "Matthew Y" },
      //   { place: 23, name: "Anwar S" },
      //   { place: 24, name: "Jake Y" },
      //   { place: 25, name: "Lokesh R" },
      //   { place: 26, name: "Christopher P" },
      //   { place: 27, name: "Mingxin O" },
      //   { place: 28, name: "August E" },
      //   { place: 29, name: "Samsruti D" },
      //   { place: 30, name: "Harsh V" },
      //   { place: 31, name: "Keenan P" },
      //   { place: 32, name: "Rouz A" },
      //   { place: 33, name: "Ron R" },
      //   { place: 34, name: "Sean O" },
      //   { place: 35, name: "Michael D" },
      //   { place: 36, name: "Devishree R" },
      //   { place: 37, name: "Ali R" },
      //   { place: 38, name: "Alvin A" },
      //   { place: 39, name: "Arthur N" },
      //   { place: 40, name: "Choulhyouc L" },
      //   { place: 41, name: "Zeeshan H" },
      //   { place: 42, name: "Goran Đ" },
      //   { place: 43, name: "sovannarong k" },
      //   { place: 44, name: "Luke M" },
      //   { place: 45, name: "Chenzhe X" },
      //   { place: 46, name: "Jae Hee L" },
      //   { place: 47, name: "Jason P" },
      //   { place: 48, name: "Sebastiano D" },
      //   { place: 49, name: "Julia S" },
      //   { place: 50, name: "Sana" },
      // ];

      /*
      
      I commented this becoz this script is already being called in script.js (line 39) - Ayush-may
      
      function compare(a, b) {
        if (a.contributions < b.contributions) {
          return 1;
        }
        if (a.contributions > b.contributions) {
          return -1;
        }
        return 0;
      }
      
      async function getContributors(repoName, page = 1) {
        let request = await fetch(`https://api.github.com/repos/${repoName}/contributors?page=${page}&anon=true`, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
          }
        });
      
        let contributorsList = await request.json();
        contributorsList.sort(compare);
        var data = [];
        var size = contributorsList.length;
        for (var i = 0; i < size; i++) {
          data.push({
            place: i + 1,
            name: (contributorsList[i].login === undefined) ? contributorsList[i].name : contributorsList[i].login,
            avatar: contributorsList[i].avatar_url,
            profileUrl: contributorsList[i].html_url
          });
        }
        console.log(data);
      
        return data;
      }
      
      var medals = ['medal-gold', 'medal-silver', 'medal-bronze'];
      window.onload = async function () {
        const data = await getContributors("GameSphere-MultiPlayer/Community-Page");
      
        console.log(data.length);
        var i = 0;
        data.forEach(item => {
          const avatarImg = document.createElement('img');
          avatarImg.src = item.avatar;
          avatarImg.className = 'avatar';
      
          const profileLink = document.createElement('a');
          profileLink.href = item.profileUrl;
          profileLink.target = '_blank'; // Open in a new tab
          profileLink.className = 'ranking-table-data';
          profileLink.appendChild(avatarImg);
      
          const nameText = document.createElement('span');
          nameText.textContent = item.name;
          profileLink.appendChild(nameText);
      
          if (i > 2) {
            const rankingTable = document.getElementById('rankingTableBody');
            const row = document.createElement('div');
            row.className = 'ranking-table-row';
      
            const placeCell = document.createElement('div');
            placeCell.className = 'ranking-table-data';
            placeCell.textContent = item.place;
      
            const progressCell = document.createElement('div');
            progressCell.className = 'ranking-table-data';
      
            const completeIndicator = document.createElement('div');
            completeIndicator.className = 'complete';
            progressCell.appendChild(completeIndicator);
      
            row.appendChild(placeCell);
            row.appendChild(profileLink);
            row.appendChild(progressCell);
      
            rankingTable.appendChild(row);
          } else {
            const rankingTable = document.getElementById("top3");
            const row = document.createElement('div');
            row.className = 'ranking-table-row-leader-' + (i + 1);
      
            const placeCell = document.createElement('div');
            placeCell.className = 'ranking-table-data-leader-' + (i + 1);
      
            const medalCell = document.createElement('div');
            medalCell.className = medals[i];
      
            placeCell.appendChild(medalCell);
      
            const profileCell = document.createElement('div');
            profileCell.className = 'ranking-table-data';
            profileCell.appendChild(profileLink);
      
            const progressCell = document.createElement('div');
            progressCell.className = 'ranking-table-data';
      
            const completeIndicator = document.createElement('div');
            completeIndicator.className = 'complete';
            progressCell.appendChild(completeIndicator);
      
            row.appendChild(placeCell);
            row.appendChild(profileCell);
            row.appendChild(progressCell);
      
            rankingTable.appendChild(row);
          }
          i++;
        });
        console.log("RUNNED");
      };
      
      
      
      const nav = document.querySelector(".nav"),
        searchIcon = document.querySelector("#searchIcon"),
        navOpenBtn = document.querySelector(".navOpenBtn"),
        navCloseBtn = document.querySelector(".navCloseBtn"),
        searchResult = document.getElementById("searchResult"),
        resultContainer = document.querySelector(".searching_results");
      
      searchResult.addEventListener("input", () => {
        if (searchResult.value.length === 0) {
          resultContainer.style.display = "none";
        }
        if (nav.classList.contains("openSearch") && searchResult.value.length > 0) {
          resultContainer.style.display = "flex";
          let result = data.filter((item) =>
            item.name.toLowerCase().includes(searchResult.value.toLowerCase())
          );
          console.log(result)
          resultContainer.innerHTML = "";
          if (result.length !== 0) {
            result.forEach((item, index) => {
              const div = document.createElement("div");
              const p = document.createElement("p");
              const span = document.createElement("span");
              p.textContent = item.name;
              span.textContent = item.place;
              div.appendChild(p);
              div.appendChild(span);
              resultContainer.appendChild(div);
            });
          }
          else {
            resultContainer.style.display = "none";
          }
        }
      });
      
      const toggleButton = document.getElementById("theme-toggle");
      const body = document.body;
      
      searchIcon.addEventListener("click", () => {
        nav.classList.toggle("openSearch");
        nav.classList.remove("openNav");
        if (searchResult.value.length === 0) {
          resultContainer.style.display = "none";
        }
        if (nav.classList.contains("openSearch")) {
          return searchIcon.classList.replace("uil-search", "uil-times");
        }
        searchIcon.classList.replace("uil-times", "uil-search");
      });
      
      // page start with dark mode
      
      body.classList.add("dark-mode");
      // Toggle between "toggle off and toggle on"//
      
      toggleButton.addEventListener("click", () => {
        body.classList.toggle("dark-mode");
        body.classList.toggle("light-mode");
      
        if (body.classList.contains("light-mode")) {
          toggleButton.classList.remove("bi-toggle-off");
          toggleButton.classList.add("bi-toggle-on");
          document.getElementById("menuBarsColor").style.color = "black";
          document.querySelectorAll("a").forEach((link) => link.style.color = "black");
        } else {
          toggleButton.classList.remove("bi-toggle-on");
          toggleButton.classList.add("bi-toggle-off");
          document.getElementById("menuBarsColor").style.color = "white";
          document.querySelectorAll("a").forEach((link) => link.style.color = "white");
        }
      });
      
      navOpenBtn.addEventListener("click", () => {
        nav.classList.add("openNav");
        nav.classList.remove("openSearch");
        searchIcon.classList.replace("uil-times", "uil-search");
      });
      navCloseBtn.addEventListener("click", () => {
        nav.classList.remove("openNav");
      });
      
      document.addEventListener("DOMContentLoaded", function () {
        const discordButton = document.getElementById("discord-button");
        const discordPopup = document.getElementById("discord-popup");
        const closeBtn = document.getElementById("close-btn");
      
        discordButton.addEventListener("click", function () {
          discordPopup.style.display = "block";
        });
      
        closeBtn.addEventListener("click", function () {
          discordPopup.remove();
        });
      });
      
      document.addEventListener("DOMContentLoaded", function () {
        const discordPopup = document.getElementById("discord-popup");
        const closeBtn = document.getElementById("close-btn");
      
        discordButton.addEventListener("click", function () {
          discordPopup.style.display = "block";
        });
      
        closeBtn.addEventListener("click", function () {
          discordPopup.style.display = "none";
        });
      });
      const success = () => {
        showAlert("You have successfully subscribed!", "success");
      };
      
      const showAlert = (message, type) => {
        const alertBox = document.getElementById("customAlert");
        const alertText = document.getElementById("alertText");
      
        alertText.textContent = message;
      
        if (type === "success") {
          alertBox.style.borderColor = "#4CAF50";
          alertText.style.color = "#4CAF50";
        } else {
          alertBox.style.borderColor = "#f44336";
          alertText.style.color = "#f44336";
        }
      
        alertBox.classList.add("show");
      
        document.getElementById("closeAlert").addEventListener("click", () => {
          alertBox.classList.remove("show");
        });
      };
      
      const subscriptionForm = document.getElementById("subscriptionForm");
      const emailInput = document.getElementById("emailInput");
      
      subscriptionForm.addEventListener("submit", function (event) {
        if (!emailInput.checkValidity()) {
          showAlert("Please enter a valid email address.", "error");
          emailInput.focus();
          event.preventDefault();
        } else {
          success();
        }
      });
      */

    </script>
    <script>
      const btns = document.querySelectorAll(".btn");
const slideRow = document.getElementById("slide-row");
const main = document.querySelector("main");

let currentIndex = 0;

function updateSlide() {
  const mainWidth = main.offsetWidth;
  const translateValue = currentIndex * -mainWidth;
  slideRow.style.transform = `translateX(${translateValue}px)`;

  btns.forEach((btn, index) => {
    btn.classList.toggle("active", index === currentIndex);
  });
}

btns.forEach((btn, index) => {
  btn.addEventListener("click", () => {
    currentIndex = index;
    updateSlide();
  });
});

window.addEventListener("resize", () => {
  updateSlide();
});

    </script>
    <script>
      const content = [
        "Dot box",
        "Packabunchas",
        "Spaceship Escort",
        "Physi-c-tech",
        "Squard Line",
        "Formation absent"

      ];

      document.getElementById('searchResult').addEventListener('input', function () {
        const query = this.value.toLowerCase();
        filterContent(query);
      });

      function filterContent(query) {
        const results = content.filter(item => item.toLowerCase().includes(query));
        displayResults(results);
      }

      function displayResults(results) {
        const resultsContainer = document.querySelector('.searching_results');
        resultsContainer.innerHTML = ''; // Clear previous results

        if (results.length === 0) {
          resultsContainer.innerHTML = '<p>No results found</p>';
          return;
        }

        results.forEach(result => {
          const resultItem = document.createElement('div');
          resultItem.textContent = result;
          resultsContainer.appendChild(resultItem);
        });
      }

    </script>
</body>

</html>