<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="/images/logo.PNG" type="image/x-icon" />
		<title>Document</title>
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body>
		<nav class="nav">
			<!-- Navigation section. -->
			<i id="menuBarsColor" class="uil uil-bars navOpenBtn"></i>
			<!-- Icon for opening navigation menu. -->
			<a href="/" class="logo">Chrome Gaming</a>
			<!-- Logo of the website. -->
			<br />

			<ul class="nav-links">
				<!-- Unordered list for navigation links. -->
				<i class="uil uil-times navCloseBtn"></i>
				<!-- Icon for closing navigation menu. -->

				<li><a href="/">Home</a></li>
				<li><a href="/play">Play Games</a></li>
				<li><a href="/products">Products</a></li>
				<li><a href="/about">About Us</a></li>
				<li><a href="/contribute">Contribute</a></li>
			</ul>

			<i class="uil uil-search search-icon" id="searchIcon"></i>
			<!-- Icon for search functionality. -->
			<div class="search-box">
				<i class="uil uil-search search-icon"></i>
				<!-- Icon for search functionality within the search box. -->
				<input type="search" id="searchResult" placeholder="Search here..." />
				<!-- Input field for search functionality. -->
				<div class="searching_results"></div>
			</div>
			<div class="toggle-container">
				<i class="bi bi-toggle-off" id="theme-toggle"></i>
			</div>
		</nav>
	</body>
</html>
