<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Chrome Gaming | Play Games</title>
		<!-- link for favicon -->
		<link rel="icon" href="/images/logo.PNG" type="image/x-icon" />
		<!-- Title of the webpage displayed on the browser tab. -->
		<link rel="stylesheet" href="/css/styles.css" />
		<!-- Link to an external CSS file for styling. -->
		<link rel="stylesheet" href="/css/gamecard.css" />
		<!-- Link to an external CSS file for styling. -->

		<!-- Unicons CSS -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
		<!-- Link to the Bootstrap icons CSS file. -->
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
			rel="stylesheet" />
		<!-- Link to Google Fonts for custom font styles. -->
		<link
			rel="stylesheet"
			href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
		<!-- Link to the fontawesome icons file. -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Micro+5&family=Nova+Cut&family=Press+Start+2P&family=Protest+Guerrilla&family=Sixtyfour&family=Stalinist+One&family=Turret+Road:wght@200;300;400;500;700;800&family=VT323&family=Wallpoet&display=swap"
			rel="stylesheet" />
		<!-- Link to the Unicons CSS file. -->
		<script src="/js/script.js" defer></script>
		<!-- Link to an external JavaScript file with the 'defer' attribute, meaning it will be executed after the document has been parsed. -->
		 <style>
			.social a {
  color: black;
}
#progress-bar1{
  --progress1: 0;
  height: 12px;
  width: var(--progress1);
  position: fixed;
  z-index: 1001;
  background: linear-gradient(45deg,rgb(41, 187, 203),rgb(181, 8, 155));
  margin-top: -100px;
}
		 </style>
	</head>
	<body class="page-leaderboard">
		<div class="circle-container">
			<div class="circle" style="background-color: #55a5ea; left: 504px; top: 59px; scale: 1;"></div>
			<div class="circle" style="background-color: #55a5ea; left: 504px; top: 59px; scale: 0.95;"></div>
			<div class="circle" style="background-color: #55a5ea; left: 504px; top: 59px; scale: 0.9;"></div>
			<div class="circle" style="background-color: #55a5ea; left: 504px; top: 59px; scale: 0.9;"></div>
			<div class="circle" style="background-color: #3fbcc0c6; left: 504px; top: 59px; scale: 0.85;"></div>
			<div class="circle" style="background-color: #3fbcc0c6; left: 504px; top: 59px; scale: 0.85;"></div>
			<div class="circle" style="background-color: #3fbcc0c6; left: 504px; top: 59px; scale: 0.85;"></div>
			<div class="circle" style="background-color: #3fbcc0c6; left: 504px; top: 59px; scale: 0.85;"></div>
			<div class="circle" style="background-color: #fff; left: 504px; top: 59px; scale: 0.8;"></div>
			<div class="circle" style="background-color: #fff; left: 504px; top: 59px; scale: 0.8;"></div>
			<div class="circle" style="background-color: #fff; left: 504px; top: 59px; scale: 0.8;"></div>
			<div class="circle" style="background-color: #fff; left: 504px; top: 59px; scale: 0.8;"></div>
		  </div>
		<!-- Body of the webpage. Background color set inline. -->
		<div id="progress-bar1"></div>
		<nav class="nav">
			<!-- Navigation section. -->
			<i id="menuBarsColor" class="uil uil-bars navOpenBtn"></i>
			<!-- Icon for opening navigation menu. -->
			<a href="/" class="logo">Chrome Gaming</a>
			<!-- Logo of the website. -->
			<br />

			<ul class="nav-links">
				<!-- Unordered list for navigation links. -->
				<i class="uil uil-times navCloseBtn"></i>
				<!-- Icon for closing navigation menu. -->

				<li><a href="/" class=" links-hover">Home</a></li>
				<li><a href="/play" class=" links-hover-currentpage">Play Games</a></li>
				<li><a href="/products" class=" links-hover">Products</a></li>
				<li><a href="/about" class=" links-hover">About Us</a></li>
				<li><a href="https://chromegaming.github.io/Chrome-Gaming-Certification/" class=" links-hover">Certificate</a></li>
				<li><a class="links-hover" onclick="openRateUs()">Rate Us</a></li>
				<li>
					<div class="small-screen-social">
						<a
							href="https://www.youtube.com/@ChromeGamingOn"
							target="_blank"
							class="social-icon youtube"></a>
						<a
							href="https://www.linkedin.com/company/chromegaming"
							target="_blank"
							class="social-icon linkedin"></a>
						<a
							href="https://www.facebook.com/profile.php?id=61558763492008"
							target="_blank"
							class="social-icon facebook"></a>
						<a
							href="https://twitter.com"
							target="_blank"
							class="social-icon twitter"></a>
						<a
							href="https://www.instagram.com/chromegamingon/"
							target="_blank"
							class="social-icon instagram"></a>
					</div>
				</li>
			</ul>

			<i class="uil uil-search search-icon" id="searchIcon"></i>
			<!-- Icon for search functionality. -->
			<div class="search-box">
				<i class="uil uil-search search-icon"></i>
				<!-- Icon for search functionality within the search box. -->
				<input type="search" id="searchResult" placeholder="Search here..." />
				<!-- Input field for search functionality. -->
				<div class="searching_results"></div>
			</div>
			<div class="toggle-container">
				<i class="bi bi-toggle-off" id="theme-toggle"></i>
			</div>
		</nav>

		<%- include('partials/rateus') %>
<!--        <script src="/js/script.js"></script>-->

		<div class="social-icons">
			<button class="toggler"><img src="/images/social1.webp" alt=""></button>
			<a href="https://www.youtube.com/@ChromeGamingOn" target="_blank" class="social-icon youtube"></a>
			<a href="https://www.linkedin.com/company/chromegaming" target="_blank" class="social-icon linkedin"></a>
			<a href="https://www.facebook.com/profile.php?id=61558763492008" target="_blank" class="social-icon facebook"></a>
			<a href="https://twitter.com" target="_blank" class="social-icon twitter"></a>
			<a href="https://www.instagram.com/chromegamingon/" target="_blank" class="social-icon instagram"></a>
		  </div>


		<div class="playgames-container" style="margin-top: 100px; ">
			<div class="image1">
				<div class="logo_image">
					<!-- Section for displaying images. -->
					<img class="center" src="/images/logo.gif" alt="" height="250px" />
					<!-- Image element with source set to a GIF file. -->
				</div>
				<div class="logo_head press-start-2p-regular">CHROME</div>
				<div class="logo_head1">GAMING</div>
			</div>

			<div class="show-games" style="margin: 5rem;">
				<h1 style="text-align: start; color:rgb(204, 22, 198);  text-shadow: .1em .1em 0 hsl(200 50% 30%); margin-left: 2rem;" class="border-hover"
					>PLAY GAMES ACCORDING TO YOUR CHOICE</h1
				>
				<h1 style="margin: 2rem 2rem;">OUR GAMES</h1>

				<br />
				<!-- game container box -->
				<div class="game-container">
					<!-- game cards -->
					<div class="game-card">
						<img src="/images/dotbox.jpg" alt="dots" class="game-img" />
						<div class="game-title">
							<h6 class="gradient-text">Dot-Box</h6>
							<p class="game-desc">Dot-Box is a game where players take turns drawing lines between dots
								to create boxes. The player who completes the most boxes wins. It's a
								simple yet strategic game enjoyed by people of all ages</p>
						</div>
						
						<a target="_blank" href="https://chromegaming.github.io/Dot-Box/">

							<button class="game-btn">Play Game</button>
						</a>
					</div>
					<div class="game-card">
						<img src="/images/physic.jpg" alt="dots" class="game-img" />
						<div class="game-title">
							<h6 class="gradient-text">Physi-c-Tech</h6>
							<p class="game-desc">"Physi-c-Tech" seems to be a play on words combining "physics" and "technology," , Where we create elements after adding two different elements.</p>
						</div>
						<a target="_blank" href="https://chromegaming.github.io/Physi-c-Tech/">

							<button class="game-btn">Play Game</button>
						</a>
					</div>
					<div class="game-card">
						<img src="/images/rocket.jpg" alt="dots" class="game-img" />
						<div class="game-title">
							<h6 class="gradient-text">PACKABUNCHAS</h6>
							<p class="game-desc">You are Spacey, from the PACKABUNCHAS, a group of space rangers specialized in packing and rescuing creatures around the galaxy!</p>
						</div>
						<a target="_blank" href="https://chromegaming.github.io/PACKABUNCHAS/">

							<button class="game-btn">Play Game</button>
						</a>
					</div>
					<div class="game-card">
						<img src="/images/escort.jpg" alt="dots" class="game-img" />
						<div class="game-title">
							<h6 class="gradient-text">Spaceship-escort</h6>
							<p class="game-desc">"Spaceship Escort" is a game where players protect spacecraft from threats in space. Players control escort ships, defend against attacks, and complete missions involving navigation, combat, and strategic decisions</p>
						</div>
						<a target="_blank" href="https://chromegaming.github.io/Spaceship-escort/">

							<button class="game-btn">Play Game</button>
						</a>
					</div>
					<div class="game-card">
						<img src="/images/squard.jpg" alt="dots" class="game-img" />
						<div class="game-title">
							<h6 class="gradient-text">Squard-line</h6>
							<p class="game-desc">Squard line is a puzzle game where players match candies to solve puzzles and progress through multiple of levels. It features various objectives, boosters, and social features, making it highly addictive and enjoyable for players of all ages</p>
						</div>
						<a target="_blank" href="https://chromegaming.github.io/Squard-line/">

							<button class="game-btn">Play Game</button>
						</a>
					</div>
					<div class="game-card">
						<img src="/images/formation.jpg" alt="dots" class="game-img" />
						<div class="game-title">
							<h6 class="gradient-text">Formation Absent</h6>
							<p class="game-desc">Formation Absent is a turn-based puzzle - an abstract representation of a battle. In each of the 13 stages two armies are colliding. As a member of the Green side, you’ll have to restore the lost battle formation of the Green party. Move through the battlefield..</p>
						</div>
						<a target="_blank" href="https://chromegaming.github.io/Formation-Absent/">

							<button class="game-btn">Play Game</button>
						</a>
					</div>
					<!-- end of game cards -->
				</div>
				<br />
				<br />
			</div>
		</div>
		
		<!-- Horizontal line separator. -->
		<button class="top-btn" id="goToTopBtn" onclick="goToTop()"><i class="fa-solid fa-chevron-up"
			style="color: #ffffff;"></i></button>
		<section class="footer">
			<!-- Footer section. -->
			<div class="footer-row">
				<!-- Row within the footer. -->
				<div class="footer-col">
					<!-- Column within the footer. -->
					<h4>Info</h4>
					<!-- Heading for info section. -->
					<ul class="links">
						<!-- Unordered list for links. -->
						<li><a href="/index">Home</a></li>
						<li><a href="/play">Play Games</a></li>
						<li><a href="/product">Products</a></li>
						<li><a href="/about">About Us</a></li>
						<li><a href="/Certificate">Certificate</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<!-- Second column within the footer. -->
					<h4>Explore</h4>
					<!-- Heading for explore section. -->
					<ul class="links">
						<!-- Unordered list for links. -->
						<li><a href="#">Free Designs</a></li>
						<li><a href="#">Latest Designs</a></li>
						<li><a href="#">Themes</a></li>
						<li><a href="#">Popular Designs</a></li>
						<li><a href="#">Art Skills</a></li>
						<li><a href="#">New Uploads</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<!-- Third column within the footer. -->
					<h4>Legal</h4>
					<!-- Heading for legal section. -->
					<ul class="links">
						<!-- Unordered list for links. -->
						<li><a href="#">Customer Agreement</a></li>
						<li><a href="privacy.ejs">Privacy Policy</a></li>
						<li><a href="#">GDPR</a></li>
						<li><a href="#">Security</a></li>
						<li><a href="#">Testimonials</a></li>
						<li><a href="#">Media Kit</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<!-- Fourth column within the footer. -->
					<h4>Newsletter</h4>
					<!-- Heading for newsletter section. -->
					<p>
						Subscribe to our newsletter for a weekly dose of news, updates,
						helpful tips, and exclusive offers.
					</p>
					<!-- Text for newsletter subscription. -->
					<form id="subscriptionForm" action="#">
						<input id="emailInput" type="email" placeholder="Your email" required
							pattern="[^\s@]+@[^\s@]+\.[^\s@]+" />
						<button id="submitButton" type="submit">SUBSCRIBE</button>
					</form>

					<div class="footer-column">
						<h4>Follow us</h4>
						<div class="social-links">
							<a href="mailto:durgeshkumar4993@gmail.com" target="_blank" class="gmail-icon"><i class="fab fa-google"></i></a>
							<a href="https://www.linkedin.com/company/chromegaming" target="_blank" <i class="fab fa-linkedin"></i></a>
							<a href="https://discord.com/" target="_blank" class="discord-icon fab fa-discord"></a>
							<a href="https://www.medium.com/" target="_blank" class="fab fa-medium"></a>
							<a href="https://www.instagram.com/chromegamingon/" target="_blank" class="fab fa-instagram"></a>
						</div>
					</div>
					
					<div id="customAlert" class="alert">
						<span id="alertText"></span>
						<button id="closeAlert">&times;</button>
					</div>
		
					<div class="icons">
						<button class="share-button">
							<svg id="share-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
								stroke-width="2" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none" class="box"></path>
								<path d="M6 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
								<path d="M18 6m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
								<path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
								<path d="M8.7 10.7l6.6 -3.4"></path>
								<path d="M8.7 13.3l6.6 3.4"></path>
							</svg>
						</button>
						<ul class="socials-menu">
							<li class="social" id="discord" title="discord">
								<a href="https://discord.com/">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
										class="bi bi-discord" viewBox="0 0 16 16">
										<path
											d="M13.545 2.907a13.2 13.2 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.2 12.2 0 0 0-3.658 0 8 8 0 0 0-.412-.833.05.05 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.04.04 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032q.003.022.021.037a13.3 13.3 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019q.463-.63.818-1.329a.05.05 0 0 0-.01-.059l-.018-.011a9 9 0 0 1-1.248-.595.05.05 0 0 1-.02-.066l.015-.019q.127-.095.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.05.05 0 0 1 .053.007q.121.1.248.195a.05.05 0 0 1-.004.085 8 8 0 0 1-1.249.594.05.05 0 0 0-.03.03.05.05 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.2 13.2 0 0 0 4.001-2.02.05.05 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.03.03 0 0 0-.02-.019m-8.198 7.307c-.789 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612m5.316 0c-.788 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612" />
									</svg>
								</a>
							</li>
							<li class="social" title="signal" id="signal">
								<a href="https://signal.org/">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
										class="bi bi-signal" viewBox="0 0 16 16">
										<path
											d="m6.08.234.179.727a7.3 7.3 0 0 0-2.01.832l-.383-.643A7.9 7.9 0 0 1 6.079.234zm3.84 0L9.742.96a7.3 7.3 0 0 1 2.01.832l.388-.643A8 8 0 0 0 9.92.234m-8.77 3.63a8 8 0 0 0-.916 2.215l.727.18a7.3 7.3 0 0 1 .832-2.01l-.643-.386zM.75 8a7 7 0 0 1 .081-1.086L.091 6.8a8 8 0 0 0 0 2.398l.74-.112A7 7 0 0 1 .75 8m11.384 6.848-.384-.64a7.2 7.2 0 0 1-2.007.831l.18.728a8 8 0 0 0 2.211-.919M15.251 8q0 .547-.082 1.086l.74.112a8 8 0 0 0 0-2.398l-.74.114q.082.54.082 1.086m.516 1.918-.728-.18a7.3 7.3 0 0 1-.832 2.012l.643.387a8 8 0 0 0 .917-2.219m-6.68 5.25c-.72.11-1.453.11-2.173 0l-.112.742a8 8 0 0 0 2.396 0l-.112-.741zm4.75-2.868a7.2 7.2 0 0 1-1.537 1.534l.446.605a8 8 0 0 0 1.695-1.689zM12.3 2.163c.587.432 1.105.95 1.537 1.537l.604-.45a8 8 0 0 0-1.69-1.691zM2.163 3.7A7.2 7.2 0 0 1 3.7 2.163l-.45-.604a8 8 0 0 0-1.691 1.69l.604.45zm12.688.163-.644.387c.377.623.658 1.3.832 2.007l.728-.18a8 8 0 0 0-.916-2.214M6.913.831a7.3 7.3 0 0 1 2.172 0l.112-.74a8 8 0 0 0-2.396 0zM2.547 14.64 1 15l.36-1.549-.729-.17-.361 1.548a.75.75 0 0 0 .9.902l1.548-.357zM.786 12.612l.732.168.25-1.073A7.2 7.2 0 0 1 .96 9.74l-.727.18a8 8 0 0 0 .736 1.902l-.184.79zm3.5 1.623-1.073.25.17.731.79-.184c.6.327 1.239.574 1.902.737l.18-.728a7.2 7.2 0 0 1-1.962-.811zM8 1.5a6.5 6.5 0 0 0-6.498 6.502 6.5 6.5 0 0 0 .998 3.455l-.625 2.668L4.54 13.5a6.502 6.502 0 0 0 6.93-11A6.5 6.5 0 0 0 8 1.5" />
									</svg>
								</a>
							</li>
							<li class="social" title="Github" id="github">
								<a href="https://github.com/GameSphere-MultiPlayer">
									<i class="fa-brands fa-github" style="color: black"></i>
								</a>
							</li>
							<li class="social" title="reddit" id="reddit">
								<a href="https://www.reddit.com/?rdt=35900" title="Facebook">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
										class="bi bi-reddit" viewBox="0 0 16 16">
										<path
											d="M6.167 8a.83.83 0 0 0-.83.83c0 .459.372.84.83.831a.831.831 0 0 0 0-1.661m1.843 3.647c.315 0 1.403-.038 1.976-.611a.23.23 0 0 0 0-.306.213.213 0 0 0-.306 0c-.353.363-1.126.487-1.67.487-.545 0-1.308-.124-1.671-.487a.213.213 0 0 0-.306 0 .213.213 0 0 0 0 .306c.564.563 1.652.61 1.977.61zm.992-2.807c0 .458.373.83.831.83s.83-.381.83-.83a.831.831 0 0 0-1.66 0z" />
										<path
											d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.828-1.165c-.315 0-.602.124-.812.325-.801-.573-1.9-.945-3.121-.993l.534-2.501 1.738.372a.83.83 0 1 0 .83-.869.83.83 0 0 0-.744.468l-1.938-.41a.2.2 0 0 0-.153.028.2.2 0 0 0-.086.134l-.592 2.788c-1.24.038-2.358.41-3.17.992-.21-.2-.496-.324-.81-.324a1.163 1.163 0 0 0-.478 2.224q-.03.17-.029.353c0 1.795 2.091 3.256 4.669 3.256s4.668-1.451 4.668-3.256c0-.114-.01-.238-.029-.353.401-.181.688-.592.688-1.069 0-.65-.525-1.165-1.165-1.165" />
									</svg>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<footer class="footer-text" style="
						text-align: center;
						color: rgba(0, 131, 245, 0.769);
						margin-bottom: 10px;
						font-size: 12px;
					">
			<!-- scroll to top -->
			<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-long-arrow-up"></i></button>
		
			<!-- Footer section. -->
			&copy; 2024-All rights reserved.<br />
			Made with ❤️ of <b>Chrome Gaming</b>
		</footer>
		</body
	>
<script>
//Custom Cursor

const coords = { x: 0, y: 0 };
    const circles = document.querySelectorAll(".circle");

    const colors = [
      "#55a5ea",
      "#55a5ea",
      "#55a5ea",
      "#55a5ea",
      "#55a5ea",
      "#55a5ea",
      "#55a5ea",
      "#55a5ea",
      "#3fbcc0c6",
      "#3fbcc0c6",
      "#3fbcc0c6",
      "#3fbcc0c6",
      "#3fbcc0c6",
      "#3fbcc0c6",
      "fff",
      "fff",
      "fff",
      "fff",
      "fff",
      "fff",
      "fff",
    ];

    circles.forEach(function (circle, index) {
      circle.x = 0;
      circle.y = 0;
      circle.style.backgroundColor = colors[index % colors.length];
    });

    window.addEventListener("mousemove", function (e) {
      coords.x = e.clientX;
      coords.y = e.clientY;
    });

    function animateCircles() {
      let x = coords.x;
      let y = coords.y;

      circles.forEach(function (circle, index) {
        circle.style.left = x - 12 + "px";
        circle.style.top = y - 12 + "px";

        circle.style.scale = (circles.length - index) / circles.length;

        circle.x = x;
        circle.y = y;

        const nextCircle = circles[index + 1] || circles[0];
        x += (nextCircle.x - x) * 0.3;
        y += (nextCircle.y - y) * 0.3;
      });

      requestAnimationFrame(animateCircles);
    }

    animateCircles();

	const shareButton = document.querySelector(".share-button");
			const toggleSocials = () => {
				const socialsWrapper = document.querySelector(".icons");
				const shareButtonImage = shareButton.querySelector("img");

				socialsWrapper.classList.toggle("active");

				if (shareButtonImage.src.includes("share")) {
					shareButtonImage.src = "/images/close.svg";
				} else {
					shareButtonImage.src = "assets/share.svg";
				}
			};

			shareButton.addEventListener("click", toggleSocials);
	// no toggler class
  // document.querySelector('.toggler').addEventListener('click', function() {
  //   document.querySelector('.social-icons').classList.toggle('show-icons');
  // });
  const updateProgress = () =>{
    const {scrollTop,scrollHeight} = document.documentElement;
    const scrollPercent = `${(scrollTop/(scrollHeight-window.innerHeight)) * 100}%`;
    document.querySelector('#progress-bar1').style.setProperty('--progress1',scrollPercent);
}
document.addEventListener('scroll',updateProgress);
</script>
<script>
    const content = [
      "Dot box",
       "Packabunchas",
       "Spaceship Escort",
       "Physi-c-tech",
       "Squard Line",
       "Formation absent"
    
];

document.getElementById('searchResult').addEventListener('input', function() {
    const query = this.value.toLowerCase();
    filterContent(query);
});

function filterContent(query) {
    const results = content.filter(item => item.toLowerCase().includes(query));
    displayResults(results);
}

function displayResults(results) {
    const resultsContainer = document.querySelector('.searching_results');
    resultsContainer.innerHTML = ''; // Clear previous results

    if (results.length === 0) {
        resultsContainer.innerHTML = '<p>No results found</p>';
        return;
    }

    results.forEach(result => {
        const resultItem = document.createElement('div');
        resultItem.textContent = result;
        resultsContainer.appendChild(resultItem);
    });
}

  </script>
	</html
>
